---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=music
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"75-ExuE4UCLSPiXMzz7D60rjjbeZ/4"
    body:
      encoding: UTF-8
      string: '{"activity":"Start a band","type":"music","participants":4,"price":0.3,"link":"","key":"5675880","accessibility":0.8}'
  recorded_at: Tue, 25 Apr 2023 15:52:17 GMT
recorded_with: VCR 6.1.0
