---
http_interactions:
- request:
    method: get
    uri: https://api.teleport.org/api/cities/?search=bozeman
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.teleport.v1+json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"_embedded":{"city:search-results":[{"_links":{"city:item":{"href":"https://api.teleport.org/api/cities/geonameid:5641727/"}},"matching_alternate_names":[{"name":"Bozeman"},{"name":"Bozeman
        Town"}],"matching_full_name":"Bozeman, Montana, United States"},{"_links":{"city:item":{"href":"https://api.teleport.org/api/cities/geonameid:4074568/"}},"matching_alternate_names":[{"name":"Bozeman"}],"matching_full_name":"Marbury,
        Alabama, United States (Bozeman)"}]},"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"location","templated":true},{"href":"https://developers.teleport.org/api/resources/City/#!/relations/{rel}/","name":"city","templated":true},{"href":"https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/","name":"ua","templated":true},{"href":"https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/","name":"country","templated":true},{"href":"https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/","name":"a1","templated":true},{"href":"https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/","name":"tz","templated":true}],"self":{"href":"https://api.teleport.org/api/cities/?search=bozeman\u0026geohash="}},"count":2}'
  recorded_at: Mon, 24 Apr 2023 14:54:30 GMT
recorded_with: VCR 6.1.0
