---
http_interactions:
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:bozeman/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.teleport.v1+json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"location","templated":true},{"href":"https://developers.teleport.org/api/resources/City/#!/relations/{rel}/","name":"city","templated":true},{"href":"https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/","name":"ua","templated":true},{"href":"https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/","name":"country","templated":true},{"href":"https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/","name":"a1","templated":true},{"href":"https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/","name":"tz","templated":true}],"self":{"href":"https://api.teleport.org/api/urban_areas/slug:bozeman/"},"ua:admin1-divisions":[{"href":"https://api.teleport.org/api/countries/iso_alpha2:US/admin1_divisions/geonames:MT/","name":"Montana"}],"ua:cities":{"href":"https://api.teleport.org/api/urban_areas/slug:bozeman/cities/"},"ua:continent":{"href":"https://api.teleport.org/api/continents/geonames:NA/","name":"North
        America"},"ua:countries":[{"href":"https://api.teleport.org/api/countries/iso_alpha2:US/","name":"United
        States"}],"ua:details":{"href":"https://api.teleport.org/api/urban_areas/slug:bozeman/details/"},"ua:identifying-city":{"href":"https://api.teleport.org/api/cities/geonameid:5641727/","name":"Bozeman"},"ua:images":{"href":"https://api.teleport.org/api/urban_areas/slug:bozeman/images/"},"ua:primary-cities":[{"href":"https://api.teleport.org/api/cities/geonameid:5641727/","name":"Bozeman"}],"ua:salaries":{"href":"https://api.teleport.org/api/urban_areas/slug:bozeman/salaries/"},"ua:scores":{"href":"https://api.teleport.org/api/urban_areas/slug:bozeman/scores/"}},"bounding_box":{"latlon":{"east":-110.925179,"north":45.792664,"south":45.607793,"west":-111.204643}},"continent":"North
        America","full_name":"Bozeman, Montana","is_government_partner":false,"mayor":"Carson
        Taylor","name":"Bozeman","slug":"bozeman","teleport_city_url":"https://teleport.org/cities/bozeman/","ua_id":"c815c"}'
  recorded_at: Mon, 24 Apr 2023 15:59:24 GMT
recorded_with: VCR 6.1.0
