---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?format=json&key=da957763255f4965b8510854232204&q=39.74001-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '400'
      Cdn-Cachedat:
      - 04/22/2023 20:32:39
      Cdn-Edgestorageid:
      - '1069'
      Cdn-Status:
      - '400'
      Cdn-Requestid:
      - 0372d1d78be36e281ba7e716cbd5b125
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"error":{"code":1006,"message":"No matching location found."}}'
  recorded_at: Sat, 22 Apr 2023 20:32:38 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?format=json&key=da957763255f4965b8510854232204&q=39.74001%252C-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/22/2023 20:50:07
      Cdn-Edgestorageid:
      - '1069'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 728b0d9e8c4299b0b6da5ff67462519c
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Cairo","region":"Al Qahirah","country":"Egypt","lat":30.05,"lon":31.25,"tz_id":"Africa/Cairo","localtime_epoch":1682196607,"localtime":"2023-04-22
        22:50"},"current":{"last_updated_epoch":1682196300,"last_updated":"2023-04-22
        22:45","temp_c":19.0,"temp_f":66.2,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":12.5,"wind_kph":20.2,"wind_degree":50,"wind_dir":"NE","pressure_mb":1011.0,"pressure_in":29.85,"precip_mm":0.0,"precip_in":0.0,"humidity":64,"cloud":0,"feelslike_c":19.0,"feelslike_f":66.2,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":21.5,"gust_kph":34.6},"forecast":{"forecastday":[{"date":"2023-04-22","date_epoch":1682121600,"day":{"maxtemp_c":32.1,"maxtemp_f":89.8,"mintemp_c":16.3,"mintemp_f":61.3,"avgtemp_c":23.2,"avgtemp_f":73.8,"maxwind_mph":21.3,"maxwind_kph":34.2,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":41.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":6.0},"astro":{"sunrise":"05:21
        AM","sunset":"06:26 PM","moonrise":"06:40 AM","moonset":"09:00 PM","moon_phase":"Waxing
        Crescent","moon_illumination":"4","is_moon_up":0,"is_sun_up":0},"hour":[{"time_epoch":1682114400,"time":"2023-04-22
        00:00","temp_c":17.9,"temp_f":64.2,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":13.4,"wind_kph":21.6,"wind_degree":34,"wind_dir":"NE","pressure_mb":1011.0,"pressure_in":29.85,"precip_mm":0.0,"precip_in":0.0,"humidity":59,"cloud":6,"feelslike_c":17.9,"feelslike_f":64.2,"windchill_c":17.9,"windchill_f":64.2,"heatindex_c":17.9,"heatindex_f":64.2,"dewpoint_c":9.9,"dewpoint_f":49.8,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":18.3,"gust_kph":29.5,"uv":1.0},{"time_epoch":1682118000,"time":"2023-04-22
        01:00","temp_c":17.5,"temp_f":63.5,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":13.2,"wind_kph":21.2,"wind_degree":38,"wind_dir":"NE","pressure_mb":1011.0,"pressure_in":29.84,"precip_mm":0.0,"precip_in":0.0,"humidity":62,"cloud":4,"feelslike_c":17.5,"feelslike_f":63.5,"windchill_c":17.5,"windchill[...]
[...]
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?format=json&key=da957763255f4965b8510854232204&q=39.74001,-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'[...]
